body{
  font-family: "Lato", sans-serif;
}
.navbar-brand
{
  font-size:24px;

}
.underline{
  text-decoration:underline !important;
  text-underline-offset: 5px !important;

  
}
.icon{
  color: #cfcfcf;
}
.icon:hover{
  color:#fafafa
}
.hide{
  display:none;
}
.zero{
  width: 0 !important;
}
.dwapieczero
{
  width: 250px !important;
}
.bg-nav
{
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgb(24, 24, 155) 0%, rgba(0,212,255,1) 100%);
  min-height: 80px;
}
.bg-nav-left
{
  background: rgb(2,0,36);
  background: linear-gradient(to bottom, rgb(24, 24, 155) 0%, rgba(0,212,255,1) 100%);
  min-height: 80px;
}
.bg-orange
{
  background-color: rgba(0, 141, 184);
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
 
}
.window-yt{
    position: relative;
    border: 4px solid transparent;
    border-radius: 16px;
    background: linear-gradient(orange, violet);
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
    
  
}
.bg-tarkov{
  background-image: url("../img/gun.jpg");
  width:100%;
  background-repeat: no-repeat;
  min-height: 500px;
  background-size: 200%;
  background-attachment:fixed;
  background-position: top;
}
.text-grey{
  color:blanchedalmond;
}
.text-grey:hover{
  color:white;
  text-shadow: 0 3px 9px black;
}
.text-white-list{
  color:white;
}
.text-white-list:hover{
  color:blanchedalmond ;
  text-shadow: 0 3px 9px black ; 
}


.min-vh-64px
{
 min-height: 80px;
}
row>*{
  padding-right: 0px !important;
  padding-left: 0px !important;
  
}
@media (min-width: 577px) {


.hide-left{
  display:none;
  
}

}
@media(max-width:576px){
  .hide-top{
    display:none;
  }
  .window-yt{
    left:0 !important;
    position: absolute !important;
    border: 4px solid transparent;
    border-radius: 16px;
    background: linear-gradient(orange, violet);
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
    width:100% !important;
    
    
}

.bg-tarkov{
  background-image: url("../img/gun.jpg");
  width:100%;
  background-repeat: no-repeat;
  min-height: 500px;
  background-size: 500%;
  background-attachment:fixed;
  background-position: top;
}

.margin-top{
  margin-top:315px !important;
}

}




.padding-10
{
  padding-right:20px !important;
  padding-left:20px !important;

}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
button{
  background-color: transparent;
  border-style:none;
  font-size:32px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #cfcfcf;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fafafa;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media(max-width:768px){
  
  .bg-tarkov{
    background-image: url("../img/gun.jpg");
    width:100%;
    background-repeat: no-repeat;
    min-height: 500px;
    background-size: 500%;
    background-attachment:fixed;
    background-position: top;
  }

}
  
